[tool.poetry]
name = "chainfury"
version = "0.1.1"
description = "ChainFury is a powerful tool that simplifies the creation and management of chains of prompts, making it easier to build complex chat applications using LLMs."
authors = ["NimbleBox Engineering <engineering@nimblebox.ai>"]
license = "Apache V2.0"
readme = "README.md"
repository = "https://github.com/NimbleBoxAI/ChainFury"

[tool.poetry.dependencies]
python = "^3.9"
fire = "0.5.0"
Jinja2 = "3.1.2"
jinja2schema="0.1.4"

[tool.poetry.scripts]
chainfury = "chainfury.cli:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
