fastapi==0.100.0
langchain==0.0.141
openai
sqlalchemy
pyjwt[crypto]
jinja2
# langflow==0.0.54
black
passlib
pymysql
uvicorn
google-search-results
google-api-python-client
typer
types-pyyaml
dill
pandas
chromadb
huggingface-hub
rich
networkx
unstructured
pypdf
lxml
pysrt
fake-useragent
docstring-parser
psycopg2-binary
pyarrow
fire==0.5.0
jinja2schema==0.1.4